body{
  margin: 0;
  padding: 0;
  background-image: url('https://static.pexels.com/photos/174673/pexels-photo-174673.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Lora;
}

.box-container{
  display: flex;
  height: 70vh;

  /*flex-direction: column;*/
}

.ui.container{
  padding-top: 15vh;
}

.box{
  flex:1;
  width: auto;
}

.red{
  color: white;
}
.box.ui.blue.message{
  margin: 0;
}

.blue{
  /*background-color: lightblue;*/
  word-wrap:break-word;
  overflow-y: auto;
}
textarea{
  outline: none;
  background-color: transparent;
  box-shadow: 0px 0px 0px 1px #2185D0 inset, 0px 0px 0px 0px rgba(0, 0, 0, 0);
  padding: 1em 1.5em;
  border:none;
  border-radius: 5px ;
}
